# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Environment folders
env/
venv/
ENV/
*.env

# Mac system file
.DS_Store

# VSCode settings
.vscode/

# Logs
*.log

# Compiled files
*.pyo
*.pyd
*.so

# Thumbnails or hidden files
Thumbs.db